<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, du dossier views !</h1>
  </body>
</html>

<!-- un fichier .erb est un fichier HTML dans lequel tu peux y rajouter du Ruby. -->
