<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, du dossier views !</h1>

<p> viens creer des nouveaux gossip <a href="/gossip/new/">clic ici</a>

  <% gossip.each do |gossip| %>
        <p>
          <%= gossip.author %><br/>
          <%= gossip.content %>
        </p>
      <% end %>

  </body>
</html>

<!-- un fichier .erb est un fichier HTML dans lequel tu peux y rajouter du Ruby. -->
